.button {
  border: none;
  background-color: #F58220;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  opacity: 0.9;
}