.container {
  display: flex;
  min-height: calc(100vh - 104px);
  padding: 24px 0;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar {
  width: 400px;
}

